# Ignore all
*

# Except
!README.md
!.gitignore
!install.sh
!.chezmoi.toml.tmpl
!.chezmoiignore

!dot_myrc
!dot_myrc.d/
!dot_myrc.d/*

!dot_zshrc.tmpl
!dot_bashrc.tmpl

!bin/
!bin/cluster

!dot_cli_agent/
!dot_cli_agent/instructions.md
!dot_cli_agent/settings.md
!dot_cli_agent/agents/
!dot_cli_agent/agents/*
!run_onchange_setup-cli-agent-symlinks.sh
