# Ignore all
*

# Except
!README.md
!.gitignore
!install.sh
!.chezmoi.toml.tmpl
!.chezmoiignore

!dot_myrc
!dot_myrc.d/
!dot_myrc.d/*

!dot_zshrc.tmpl
!dot_bashrc.tmpl

!bin/
!bin/cluster

!dot_copilot/
!dot_copilot/copilot-instructions.md
!dot_copilot/config.json
!dot_copilot/agents/
!dot_copilot/agents/*
dot_copilot/agents/.DS_Store
